doctype HTML
html
    head
        if (!viewMode)
            title Chat: #{chat.navn}
        else 
            title Beskeder fra #{bruger.navn}
        link(rel="stylesheet", href="/css/menubarComponent.css")
        link(rel="stylesheet", href="/css/chatMessageListView.css")
    body
        include includes/menubarComponent
        if (!viewMode)
            a(class="tilbage", href="/chats") ⬅ Gå tilbage
            h1 #{chat.navn}
        else 
            a(class="tilbage", href=`/users/${bruger.id}`) ⬅ Gå tilbage
            h1 #{bruger.navn}
        div(class="message-container")
            each besked in beskeder
                div(class=besked.ejer.navn == username ? 'outgoing' : 'incoming')
                    a.div(class="message-content", href=`/chats/messages/${besked.id}`)
                        span(class="ejer") #{besked.ejer.navn}: 
                        span(class="besked") #{besked.besked}
                        br
                        - var tidspunkt = new Date().toLocaleDateString() !== besked.dato[0] ?  `${besked.dato[0]}: ${besked.dato[1]}` : `${besked.dato[1]}`
                        span(class="tid") #{tidspunkt}
                    if (!viewMode)
                        div(class="message-buttons")
                            - var isChatOwner = chat.ejer.navn === username
                            - var isMessageOwner = besked.ejer.navn === username
                                if (isChatOwner || isMessageOwner)
                                    a(href=`/chats/messages/${besked.id}/delete`, class="deleteButton", onclick="return confirm('Er du sikker på at du vil slette denne besked?')") ❌
                                    a(href=`/chats/messages/${besked.id}/edit`, class="editButton") ✏️
        if (!viewMode)
            form(action=`/chats/${chat.id}/messages`, method="post") 
                input(type="text", name="besked", placeholder="Indtast besked")
                input(type="hidden", name="chatId", value=chat.id)
                button(type="submit") Send
