doctype HTML 
html 
    head 
        title Besked
        link(rel="stylesheet", href="/css/menubarComponent.css")
        link(rel="stylesheet", href="/css/messageDetailView.css")
    body 
        include includes/menubarComponent
        a(class="tilbage", href=`/chats/${besked.chatId}/messages`) ⬅ Gå tilbage
        h1 Besked
        h3 
            p Besked ID: #{besked.id}
            br
            p Besked Indhold: #{besked.besked}
            br
            p Besked Dato: #{besked.dato[0]} - #{besked.dato[1]} 
            br
            p Besked Ejer: #{besked.ejer.navn}
            br
            p Chat Id: #{besked.chatId}