doctype HTML
html
    head
        title Chat: #{chat.navn}
        link(rel="stylesheet", href="/css/menubar.css")
        link(rel="stylesheet", href="/css/messages.css")
    body
        include includes/menubar
        a(class="tilbage", href="/chats") ⬅ Gå tilbage
        h1 #{chat.navn}
        div(class="message-container")
            each besked in chat.beskeder
                div(class=besked.ejer.navn == username ? 'outgoing' : 'incoming')
                    div(class="message-content")
                        span(class="ejer") #{besked.ejer.navn}: 
                        span(class="besked") #{besked.besked} 
                        br
                        - var tidspunkt = new Date().toLocaleDateString() !== besked.dato[0] ?  `${besked.dato[0]}: ${besked.dato[1]}` : `${besked.dato[1]}`
                        span(class="tid") #{tidspunkt}
        form(action=`/chats/${chat.id}/messages`, method="post") 
            input(type="text", name="besked", placeholder="Indtast besked")
            input(type="hidden", name="chatId", value=chat.id)
            button(type="submit") Send
