doctype HTML 
html 
    head 
        title Beskeder 
        link(rel="stylesheet", href="/css/menubar.css")
    body 
        include includes/menubar
        h1 Beskeder 
        each besked in chat.beskeder
                li 
                    a(href=`/chats/messages/${besked.id}`) #{besked.ejer.navn}: #{besked.besked}
        form(action=`/chats/${chat.id}/messages`, method="post") 
            input(type="text", name="besked", placeholder="Indtast besked")
            input(type="hidden", name="chatId", value=chat.id)
            button(type="submit") Send