doctype HTML 
html 
    head 
        title #{bruger.navn}
        link(rel="stylesheet", href="/css/menubarComponent.css")
        link(rel="stylesheet", href="/css/userDetailView.css")
    body 
        include includes/menubarComponent
        a(class="tilbage", href="/users") ⬅ Gå tilbage
        .container
            h1 Navn: #{bruger.navn} 
            h2 Oprettelsesdato: #{bruger.dato} 
            - var rolle
            if (bruger.niveau === 1)
                - rolle = 'Bruger'
            if (bruger.niveau === 2)
                - rolle = 'Moderator'
            if (bruger.niveau === 3) 
                - rolle = 'Administrator'
            .profile-info
                h2 ID: #{bruger.id}
            .role-info 
                h2(class=rolle) #{rolle}
            a(class="viewMessages", href=`/users/${bruger.id}/messages`) Se beskeder